.counter{
    background-color: #fff;
     -webkit-animation: random 0.1s infinite;
     animation: random 0.1s infinite;
}
@keyframes random {
    75% {background-color: red;}
    75% {background-color: green;}
    75% {background-color: blue;}
}